:root {
    --main-text-shadow-style: rgb(0, 0, 0) 1px 1px 2px;
    --black-text: #000;
    --black-tr-text: rgba(0, 0, 0, .3)
}

/* Mobile Screen */
@media (min-width: 0) and (max-width: 576px) {
    .sidebar {
        margin-top: 300px;
        margin-left: 100px
    }
    #navbarSupportedContent {
        background-color: var(--black-color) !important
    }
}

/* Tablet Screen */
@media (min-width: 576px) and (max-width: 768px) {
    #navbarSupportedContent {
        background-color: var(--black-color) !important
    }
}

/* Notebook Screen */
@media (min-width: 768px) and (max-width: 992px) {
    #navbarSupportedContent {
        background-color: var(--black-color) !important
    }
}

@media (max-width: 992px) {
	button[data-bs-toggle="collapse"] {
		display: none !important;
	}
    .navbar {
        height: 60px;
    }
    .home-slider-context .carousel-item {
        height: 100vw;
    }
    .carousel-content .col-6 {
        margin-bottom: -20vw;
    }
}

@media (min-width: 992px) {
    div[id="mobileNav"] {
        display: none !important;
    }
}