<div class="bg-dark text-light text-center text-lg-start footer">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase title">Our Services</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/fast-track-service" class="text-light text-decoration-none">Airport & Concierge Services</a>
                    </li>
                    <li>
                        <a href="#" class="text-light text-decoration-none">Accommodation</a>
                    </li>
                </ul>                        
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase title">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/" class="text-light text-decoration-none">Home</a>
                    </li>
                    <li>
                        <a href="#" class="text-light text-decoration-none">About Us</a>
                    </li>
                    <li>
                        <a href="#" class="text-light text-decoration-none">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase title">Contact</h5>
                <ul class="list-unstyled mb-0">
                    <li class="row">
                        <div class="col-12 mb-3">
                            <a href="tel:+0201067296316" class="text-decoration-none">
                                <span class="fas fa-phone content text-light"></span> <span class="content text-light">(+202) 01067296316</span>
                            </a>
                        </div>
                        <div class="col-12">
                            <a href="mailto:support@aurora-plus.com" class="text-decoration-none text-light">
                                <span class="far fa-envelope content text-light"></span> <span class="content text-light">support@aurora-plus.com</span>
                            </a>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-12">
                            <a href="#" class="social-link">
                                <img src="../../images/social-icons/facebook.png" width="45" height="45" alt="aurora-plus-facebook">
                            </a>
                            <a href="#" class="social-link">
                                <img src="../../images/social-icons/instagram.png" width="45" height="45" alt="aurora-plus-instagram">
                            </a>
                            <a href="#" class="social-link">
                                <img src="../../images/social-icons/snapchat.png" width="45" height="45" alt="aurora-plus-snapchat">
                            </a>
                            <a href="#" class="social-link">
                                <img src="../../images/social-icons/whatsapp.png" width="65" height="45" alt="aurora-plus-snapchat">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3 bg-dark text-white footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    Copyright © 2025 Aurora. All rights reserved.
                </div>
                <div class="col-6">
                    Powered by <a class="d-inline-block" href="https://www.upwork.com/freelancers/~0116b3815d228f60d7">Abdelhamed Abdin</a>
                </div>
            </div>
        </div>
    </div>
</div>
