<%- include('partials/start_body') %>
        <!-- Start Carousel -->
        <div class="about-us-service about-us-bg">
            <div class="overlay">
                <div class="container">
                    <div class="service-content">
                        <h1 class="service-title">
                            About Aurora Plus
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Carousel -->

        <!-- Start BreadCrump -->
        <nav class="breadcrump-nav" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <div class="container">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About Aurora Plus</li>
                </ol>
                <hr>
            </div>
        </nav>
        <!-- End BreadCrump -->

        <!-- Start About Us -->
        <div class="about-us mt-5 mb-5">
            <div class="container">
                <div class="row">
                    <div class="about-us-content col-xs-12">
                        <p>Welcome to your gateway to Egypt’s most authentic and elevated travel experiences. We are more than just a service provider — we are your dedicated partner in crafting seamless journeys from arrival to farewell. Specializing in tailored accommodations, private transfers, fast-track airport services, and curated local adventures, our mission is to transform every trip into an effortless blend of comfort, style, and cultural discovery.</p>

                        <p>Rooted in Egypt and powered by a team of local experts, we deliver concierge-level attention to detail with a modern, tech-savvy approach. Whether you’re checking into a luxurious hotel in Cairo, exploring the sun-drenched coasts of Hurghada, or indulging in the vibrant pulse of Sharm El-Sheikh, every moment is handled with care, discretion, and sophistication.</p>
                        
                        <p>We don’t just plan travel — we design experiences that stay with you long after you leave. And while our services today raise the standard of hospitality, what’s coming next will redefine it entirely. The journey is only beginning — and we can’t wait to show you what’s ahead.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Us -->
        <%- include('components/popup_service') %>
<%- include('partials/end_body') %>