<%- include('partials/start_body') %>
        <!-- Start Carousel -->
        <div class="accommodation-service accommodation-service-bg">
            <div class="overlay">
                <div class="container">
                    <div class="service-content">
                        <h1 class="service-title">
                            Accommodation Services
                        </h1>
                        <p class="text-light">
                            Our team handles every detail of your stay, offering personalized options to match your preferences, including hotel booking, room upgrades, early check-in, and special amenities. Whether you prefer beachfront relaxation, city-center convenience, or resort-style retreats, we’ll help you find the perfect place to call home during your travels.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Carousel -->

        <!-- Start BreadCrump -->
        <nav class="breadcrump-nav" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <div class="container">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Accommodation Services</li>
                </ol>
                <hr>
            </div>
        </nav>
        <!-- End BreadCrump -->        

        <!-- Send To Whatsapp When Success -->
        <% if (submitted) { %>
        <div class="service-sent-successfully">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            Your request has been sent and is under review now. follow up your WhatsApp we will send you soon!
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

        <!-- Start Service Cards -->
        <div class="service-card">
            <div class="container">
                <div class="row">
                    <!-- Start Card -->
                    <div class="col-12 service-card-accommodition">
                        <div class="row">
                            <!-- Cars and Limousine Services -->
                            <div class="col-lg-4 col-xs-1 col-sm-6 hotels mb-3">
                                <div class="card">
                                    <!-- Slick Slider -->
                                    <div class="card-slider">
                                        <div><img height="200" src="../images/hotels/cairo/four seasons.jpg" class="card-img-top" alt="four seasons hotel"></div>
                                        <div><img height="200" src="../images/hotels/cairo/kempenski.jpg" class="card-img-top" alt="kempenski hotel"></div>
                                        <div><img height="200" src="../images/hotels/cairo/nile ritz.jpg" class="card-img-top" alt="nile ritz hotel"></div>
                                        <div><img height="200" src="../images/hotels/cairo/sofitel.jpg" class="card-img-top" alt="sofitel hotel"></div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Cairo Hotels</h5>
                                        <p class="card-text card-text-event">
                                            From the vibrant charm of Downtown Cairo to the modern luxury of New Cairo, the city offers a diverse range of hotel experiences. Whether you're staying near the airport for convenience, enjoying the historical views in Giza, or relaxing in the calm of 6th of October, Cairo's hotels blend comfort, hospitality, and easy access to the city's rich culture and attractions.
                                        </p>
                                        <button class="btn btn-primary book-now-btn">Book Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-1 col-sm-6 hotels mb-3">
                                <div class="card">
                                    <!-- Slick Slider -->
                                    <div class="card-slider">
                                        <div><img height="200" src="../images/hotels/alex/alex 2.jpg" class="card-img-top" alt="alex 2"></div>
                                        <div><img height="200" src="../images/hotels/alex/exterior.jpg" class="card-img-top" alt="exterior hotel"></div>
                                        <div><img height="200" src="../images/hotels/alex/maxresdefault.jpg" class="card-img-top" alt="maxresdefault hotel"></div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Alexandria Hotels</h5>
                                        <p class="card-text card-text-event">
                                            Blending Mediterranean charm with historic elegance, Alexandria’s hotels offer a unique stay — from seafront luxury along the Corniche to cozy boutique spots nestled near ancient landmarks, perfect for travelers seeking both relaxation and culture
                                        </p>
                                        <button class="btn btn-primary book-now-btn">Book Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-1 col-sm-6 hotels mb-3">
                                <div class="card">
                                    <!-- Slick Slider -->
                                    <div class="card-slider">
                                        <div><img height="200" src="../images/hotels/sharm/AFR-Egypt-SharmElSheikh-RixosSharmElSheikh-103588-RixosSharmAdultNight-3-RixosSharmAdultRSSAirPhotos15.jpg" class="card-img-top" alt="sharm1 hotel"></div>
                                        <div><img height="200" src="../images/hotels/sharm/Discover-the-holiday-region-sharm-el-sheikh-and-its-red-sea-hotels-with-all-inclusive.jpg" class="card-img-top" alt="sharm2 hotel"></div>
                                        <div><img height="200" src="../images/hotels/sharm/rixos-premium-seagate.jpg" class="card-img-top" alt="sharm3 hotel"></div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Sharm El Sheikh Hotels</h5>
                                        <p class="card-text card-text-event">
                                            Sharm El-Sheikh hotels blend luxury with adventure, offering world-class resorts, vibrant nightlife, and direct access to the Red Sea’s stunning coral reefs—perfect for both relaxation and thrill-seekers.
                                        </p>
                                        <button class="btn btn-primary book-now-btn">Book Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-1 col-sm-6 hotels mb-3">
                                <div class="card">
                                    <!-- Slick Slider -->
                                    <div class="card-slider">
                                        <div><img height="200" src="../images/hotels/hurghada/hotels-private-pool-hurghada-steigenberger-resort-ras-soma5.jpg" class="card-img-top" alt="alex 2"></div>
                                        <div><img height="200" src="../images/hotels/hurghada/otdyh-v-hurgade-otel-the-grand-resort-hurghada-5-60535-7-min.jpg" class="card-img-top" alt="exterior hotel"></div>
                                        <div><img height="200" src="../images/hotels/hurghada/premier-le-reve-hotel.jpg" class="card-img-top" alt="maxresdefault hotel"></div>
                                        <div><img height="200" src="../images/hotels/hurghada/Steigenberger ALDAU Beach Hotel 1_ Hurghada_ 21.11.2024.jpg" class="card-img-top" alt="maxresdefault hotel"></div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Hurghada Hotels</h5>
                                        <p class="card-text card-text-event">
                                            With a laid-back coastal vibe, Hurghada’s hotels range from family-friendly resorts to all-inclusive escapes, ideal for sun-soaked days, water sports, and Red Sea relaxation
                                        </p>
                                        <button class="btn btn-primary book-now-btn">Book Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-1 col-sm-6 hotels mb-3">
                                <div class="card">
                                    <!-- Slick Slider -->
                                    <div class="card-slider">
                                        <div><img height="200" src="../images/hotels/north-coast/noarth coast1.jpg" class="card-img-top" alt="alex 2"></div>
                                        <div><img height="200" src="../images/hotels/north-coast/overview.jpg" class="card-img-top" alt="exterior hotel"></div>
                                        <div><img height="200" src="../images/hotels/north-coast/Sahel+Blog+5.jpg" class="card-img-top" alt="maxresdefault hotel"></div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">North Coast Hotels</h5>
                                        <p class="card-text card-text-event">
                                            North Coast hotels offer a stylish summer retreat, combining chic beachfront living with upscale amenities—perfect for a seasonal escape with a touch of modern luxury.
                                        </p>
                                        <button class="btn btn-primary book-now-btn">Book Now</button>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end inner row -->
                    </div>
                    <!-- End Card -->
                </div>
            </div>
        </div>
        <!-- End Service Cards -->
        <%- include('components/popup_acom_service') %>
<%- include('partials/end_body') %>